h1{
    width: 100%;
    font: var(--headingBig);
    color: var(--text);
}
#home-banner{
    aspect-ratio: 1280/400;
    object-fit: cover;
    width: 100%;
    margin-top: 10px;
}
@media (max-width: 992px) {
    
}
@media (max-width: 767px) {

}
@media (max-width: 576px){

}